# Metals and Bloop (Scala language server and build server)
.metals/
.bloop/
.vscode/

# Compiled class files
*.class

# SBT specific
target/
lib_managed/
src_managed/
project/project/
project/target/
project/.bloop/

# Logs
logs/
*.log